*{
    box-sizing: border-box;
}

body{
   
    margin:0;
    background-image: url(./R\ \(4\).jpg);
    font-family:sans-serif ;
    
}

.container{
   /* border: 3px solid red;*/
    max-width: 90%;
    margin: auto;
    margin-top:20px;
   
}


[type="checkbox"] {
    display: none;
}

[type="checkbox"]:checked + label::before{
    background: black;
    transition: 1s;
    transform: rotate(180deg);
}

[type="checkbox"]:checked + label{
    color: black;
}

.condiciones{
    margin-left: 15px;
    position: relative;
    color:black;
    font-size: 13px;
}

.condiciones label::before{
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid black;
    position: absolute;
    left:-14px;
}

.form{
   /* border: 3px solid green;*/
   border-top: 2px solid black;
    max-width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    background: whitesmoke;
}

.titulo{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin:0;
    margin-bottom: 20px;
    letter-spacing: 3px;

}

.form-input{
    
    margin-bottom: 30px ;
}

.form-input label{
    display: block;
    margin: 10px;
    font-size: 15px;
    color: gray

}

.form-input input{
    width: 100%;
    border: none;
    background: none;
    outline: none;
    border-bottom: 1px solid black;
}

.form-input input:focus + label {
    font-weight: bold;
    color: black;
}

.button input{
    background: #1f53c5;
    color: white;
    padding: 10px 50px;
    font-size: 25px;
    display: block;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    border: none;
}


.button input:hover{
    transition: 0.5s;
    background: gray;

}

.mensajeError{
    color:red;
    margin-top: 0px;
    font-size: 15px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.mensajeCorrecto{
    text-align: center;
    font-weight: bold;
}